<po-divider p-label="Edição de Dependentes"></po-divider>

<div *ngIf="dependenteSelecionado === 0; else formularioTitular">
  <p class="po-font-title" style="text-align: center; padding: 10px">
    Nenhum Dependente Selecionado.
  </p>
</div>

<ng-template #formularioTitular>
  <app-titulares-form [isDependente]="true"></app-titulares-form>
  <po-button
    class="po-sm-12 po-lg-2 po-xl-2 po-offset-lg-10 po-offset-xl-10"
    p-label="Salvar Edição"
    p-icon="po-icon-edit"
    (p-click)="salvarEdicao()"
  >
  </po-button>
</ng-template>
<br />
<po-divider p-label="Lista de Dependentes"></po-divider>
<po-table
  [p-columns]="colunas"
  [p-hide-columns-manager]="true"
  [p-items]="listaDependentes"
  [p-actions]="acoes"
  [p-height]="300"
  (p-show-more)="carregarMais()"
  [p-infinite-scroll]="true"
></po-table>
