<po-page-default [p-title]="title" [p-actions]="actions">
  <form [formGroup]="reactiveForm">
    <div class="po-row">
      <po-input
        formControlName="pesquisa"
        class="po-lg-3 po-xl-3 po-offset-lg-9 po-offset-xl-9"
        p-icon="po-icon-search"
        p-label="Informe parte do CPF ou o código do Cartão Cidadão"
        p-placeholder="Pesquise pelo CPF ou Cartão Cidadão"
      ></po-input>
    </div>
  </form>
  <div *ngIf="valorPesquisado === ''; else exibeTable">
    <p class="po-font-title po-mt-3" style="text-align: center; padding: 10px">
      Informe um CPF ou código do cartão cidadão no campo de busca.
    </p>
  </div>

  <ng-template #exibeTable>
    <po-table
      [p-auto-collapse]="true"
      [p-columns]="columns"
      [p-hide-columns-manager]="true"
      [p-items]="resources"
      [p-sort]="true"
      (p-show-more)="carregarMais()"
      [p-striped]="true"
      [p-actions]="acoes"
      [p-loading]="carregandoRegistros"
      [p-show-more-disabled]="disativarShowMore"
      [p-infinite-scroll]="false"
    ></po-table>
  </ng-template>

  <po-modal
    [p-title]="tituloModal"
    [p-hide-close]="true"
    p-click-out="false"
    [p-primary-action]="confirm"
    [p-secondary-action]="close"
  >
    <div *ngIf="incluiTitular">
      <form [formGroup]="formularioInclusaoTitular">
        <po-input
          formControlName="pesquisaCpfInclusao"
          p-icon="po-icon-search"
          p-label="Informe parte do CPF do Titular"
          p-placeholder="CPF do Titular"
          p-mask="999.999.999-99"
          [p-minlength]="13"
          p-error-pattern="O CPF precisa ter 11 dígitos"
        ></po-input>
      </form>
    </div>
    <div *ngIf="contemplaTitular">
      <form [formGroup]="formularioContemplacao">
        <po-select
          formControlName="moradiaContemplacao"
          p-label="Moradia Contemplada"
          [p-options]="moradiasContemplacaoOpcoes"
          p-placeholder="Informe a Moradia"
        >
        </po-select>
      </form>
    </div>
    <div *ngIf="excluiTitular">
      <form [formGroup]="formularioExclusaoTitular">
        <po-input
          formControlName="motivoExclusao"
          p-label="Informe o motivo para exclusão do Titular"
          p-placeholder="Motivo da Exclusão"
        ></po-input>
      </form>
    </div>
  </po-modal>
</po-page-default>
