<po-page-default [p-title]="title" [p-actions]="actions">
  <form [formGroup]="reactiveForm">
    <div class="po-row">
      <po-input
        formControlName="pesquisa"
        class="po-lg-3 po-xl-3 po-offset-lg-9 po-offset-xl-9"
        p-icon="po-icon-search"
        p-label="Informe parte do CPF ou o código do Cartão Cidadão"
        p-placeholder="Pesquise pelo CPF ou Cartão Cidadão"
      ></po-input>
    </div>
  </form>
  <po-table
    [p-auto-collapse]="true"
    [p-columns]="columns"
    [p-hide-columns-manager]="true"
    [p-items]="resources"
    [p-sort]="true"
    [p-height]="300"
    (p-show-more)="carregarMais()"
    [p-striped]="true"
    [p-actions]="acoes"
    [p-loading]="carregandoRegistros"
    [p-show-more-disabled]="disativarShowMore"
    [p-infinite-scroll]="true"
  ></po-table>

  <po-modal p-title="Inclusão de Titular" [p-hide-close]="true" p-click-out=false [p-primary-action]="confirm" [p-secondary-action]="close">
    <form [formGroup] = "formularioInclusaoTitular">
      <po-input
        formControlName="pesquisaCpfInclusao"
        p-icon="po-icon-search"
        p-label="Informe parte do CPF do Titular"
        p-placeholder="CPF do Titular"
        p-mask="999.999.999-99"
        [p-minlength]=13
        p-error-pattern="O CPF precisa ter 11 dígitos"
      ></po-input>
    </form>
  </po-modal>
</po-page-default>
