<!-- <po-page-login #formularioLogin
  [p-literals]="literaisPersonalizadas"
  [p-hide-remember-user]="true"
  p-product-name="Prefeitura Municipal de Louveira"
  (p-login-submit)="login($event)"
  [p-loading]="carregando"
  [p-register-url]="habilitaNovoUsuario"
  [p-login]="loginFormatado"
  p-login-pattern='(^\d{3}.\d{3}.\d{3}-\d{2}$)|(^\d{11}$)'
  (p-login-change)="informaCaracterLogin($event)"
></po-page-login> -->

<div class="flex-box container-box">
  <div class="header-box">
    <div class="header-box-itens">
      <img src="../../../../assets/img/logo-horizontal.png">
    </div>
    <div class="header-box-itens">
      <h1>Prefeitura Municipal de Louveira</h1>
    </div>
    <div class="header-box-itens button-align">
      <button class="button">Voltar</button>
      <button class="button">Menu</button>
    </div>
  </div>
  <div class="division-header">
    <div
      class="division-header-itens"
      style="background-color: rgb(238, 197, 55)"
    ></div>
    <div
      class="division-header-itens"
      style="background-color: rgb(155, 187, 59)"
    ></div>
    <div
      class="division-header-itens"
      style="background-color: rgb(53, 151, 83)"
    ></div>
    <div
      class="division-header-itens"
      style="background-color: rgb(61, 120, 184)"
    ></div>
    <div
      class="division-header-itens"
      style="background-color: rgb(46, 79, 149)"
    ></div>
    <div
      class="division-header-itens"
      style="background-color: rgb(153, 63, 135)"
    ></div>
    <div
      class="division-header-itens"
      style="background-color: rgb(163, 29, 85)"
    ></div>
    <div
      class="division-header-itens"
      style="background-color: rgb(224, 43, 55)"
    ></div>
  </div>
  <section>
    <div class="corpo">
      dfdfdfdf
    </div>
  </section>
</div>
