<form [formGroup]="formularioRendas">
  <div class="po-row">
    <po-decimal
      class="po-lg-6"
      p-label="Valor da Renda"
      p-placeholder="Informe o valor da renda em Reais"
      p-clean=true
      [p-decimals-length]=2

      formControlName="valorRenda"
    ></po-decimal>
    <po-combo
      class="po-lg-6"
      [p-clean]="true"
      p-label="Tipo de Renda"
      [p-options]="rendaOpcoes"
      p-placeholder="Selecione o Tipo de Renda"
      [p-clean]="true"
      formControlName="tipoRenda"
    >
    </po-combo>
  </div>
</form>
