<po-page-default [p-title]="pageTitle" [p-actions]="actions">
  <!-- <div class="po-row">
    <po-button-group class="po-md-12" [p-buttons]="botoes"> </po-button-group>
  </div> -->


  <po-loading-overlay
    [p-screen-lock]="true"
    [hidden]="carregando"
    p-text="string" >
  </po-loading-overlay>

  <po-stepper [p-step-icons]=true>
    <po-step p-label="Titulare" [p-can-active-next-step]="dependenteValido.bind(this)">
      <app-titulares-form (formularioTitularValido)="formularioTitularValido($event)"></app-titulares-form>
    </po-step>
    <po-step p-label="Dependentes">
      <app-dependentes-form></app-dependentes-form>
    </po-step>
    <po-step p-label="Moradia">
      <app-moradia-form></app-moradia-form>
    </po-step>
    <po-step p-label="Rendas">
      <app-rendas></app-rendas>
    </po-step>
  </po-stepper>



</po-page-default>
