:root {
  /* CORES PRINCIPAIS */
  --color-primary:rgba(#3d9b5d);
  --color-secondary: #92488e;
  --color-tertiary: #eac347;
  --color-page-login-header-product-name-color: #92488e;
  --color-combo-color-selected: #92488e

  /* MENU */
  --color-menu-background-color-menu: rgba(2,62,138,0.30);
  --color-menu-background-color-sub-items: rgba(2,62,138,0.20);
  --color-menu-color-menu-sub-item-text:rgba(2,62,138,0.90);
  --color-menu-background-color-item-selected: rgba(2,62,138,0.40);
  --color-menu-background-color-item-hover:rgba(2,62,138,0.40);
  --color-menu-background-color-item-grouper-up-hover: rgba(2,62,138,0.40);


  /* TOOLBAR */
  --color-toolbar-background-color-toolbar: rgba(2,62,138,0.30);
  --color-toolbar-color-title: var(--color-primary);

  --color-tertiary: rgb(174, 247, 174);


}
