:root {

  --color-primary: rgb(66, 122, 181);
  --color-secondary: rgb(146, 72, 142);
  --color-tertiary: rgb(233, 194, 72);

  /* CORES PRINCIPAIS */
  /* --color-primary:rgba(#2367cc);
  --color-secondary: #39c03f;
  --color-tertiary: #c41111; */
  /* --color-menu-color-menu-item-text: #92488e;
  --color-page-login-header-product-name-color: #92488e;
  --color-menu-color-menu-collapse-icon: #92488e; */
  /* --color-combo-color-selected: #92488e */

  /* MENU */
  /* --color-menu-background-color-menu: rgba(2,62,138,0.30); */
  /* --color-menu-background-color-sub-items: rgba(2,62,138,0.20); */
  /* --color-menu-color-menu-sub-item-text:rgba(2,62,138,0.90); */
  /* --color-menu-background-color-item-selected: rgba(2,62,138,0.40); */
  /* --color-menu-background-color-item-hover:rgba(2,62,138,0.40); */
  /* --color-menu-background-color-item-grouper-up-hover: rgba(2,62,138,0.40); */


  /* TOOLBAR */
  /* --color-toolbar-background-color-toolbar: rgba(2,62,138,0.30); */
  /* --color-toolbar-color-title: var(--color-primary); */

  /* --color-tertiary: rgb(174, 247, 174); */


}
