<form [formGroup]="formularioTitular" class="zeramargem">
  <div *ngIf="!acessoInternet">
    <po-divider p-label="Informações Assentamento"></po-divider>
    <div class="po-row">
      <po-input
        formControlName="assentamento"
        class="po-lg-4"
        p-label="Assentamento"
        p-placeholder="Assentamento"
        p-readonly="true"
        p-clean
      >
      </po-input>
      <po-input
        formControlName="numeroSelagemAtual"
        class="po-lg-4"
        p-label="Selagem Atual"
        p-placeholder="Selagem Atual"
        p-readonly="true"
        p-clean
      ></po-input>
      <po-input
        formControlName="numeroSelagemAntiga"
        class="po-lg-4"
        p-label="Selagem Antiga"
        p-placeholder="Selagem FUMHAB"
        p-readonly="true"
        p-clean
      ></po-input>
    </div>
  </div>

  <po-divider p-label="Informações Gerais"></po-divider>
  <div class="po-row">
    <po-input
      formControlName="nomeResponsavel"
      class="po-lg-3"
      p-label="Nome Responsável"
      p-placeholder="Nome do Responsável"
      p-readonly="true"
      p-tooltip="Dados obtidos através do Cartão Cidadão"
      p-clean
    >
    </po-input>
    <po-number
      formControlName="numeroCartaoCidadao"
      class="po-lg-3"
      p-label="Cartão Cidadão"
      p-placeholder="Número do Cartão Cidadão"
      p-readonly="true"
      p-tooltip="Dados obtidos através do Cartão Cidadão"
      p-clean
    ></po-number>
    <po-input
      formControlName="numeroCpf"
      class="po-lg-3"
      p-label="CPF"
      p-placeholder="Número do CPF"
      p-mask="999.999.999-99"
      p-readonly="true"
      p-tooltip="Dados obtidos através do Cartão Cidadão"
      p-clean
    ></po-input>
    <po-datepicker
      formControlName="dataNascimento"
      class="po-lg-3"
      p-label="Data de Nascimento"
      p-placeholder="dd/mm/aaaa"
      p-readonly="true"
      p-tooltip="Dados obtidos através do Cartão Cidadão"
      p-clean
    >
    </po-datepicker>
  </div>

  <div class="po-row">
    <po-select
      formControlName="deficiencia"
      class="po-lg-3"
      p-label="PCD"
      [p-options]="deficienciaOpcoes"
      p-placeholder="Não Possui"
      [p-readonly]="true"
      p-tooltip="Dados obtidos através do Cartão Cidadão"
    >
    </po-select>
    <po-select
      formControlName="estadoCivil"
      class="po-lg-3"
      p-label="Estado Civil"
      [p-options]="estadoCivilOpcoes"
      p-placeholder="Selecione o estado civil"
      [p-readonly]="true"
      p-tooltip="Dados obtidos através do Cartão Cidadão"
    >
    </po-select>
    <po-select
      formControlName="genero"
      class="po-lg-3"
      p-label="Gênero"
      [p-options]="generoOpcoes"
      p-placeholder="Selecione o Gênero"
    >
    </po-select>
    <po-select
      formControlName="etnia"
      class="po-lg-3"
      p-label="Raça/Etinia"
      [p-options]="etniaOpcoes"
      p-placeholder="Selecione a Etinia"
    >
    </po-select>
  </div>
  <div class="po-row">
    <po-select
      formControlName="escolaridade"
      class="po-lg-3"
      p-label="Escolaridade"
      [p-options]="escolaridadeOpcoes"
      p-placeholder="Selecione o Grau de Escolaridade"
    >
    </po-select>
    <po-email
      formControlName="email"
      class="po-lg-3"
      p-label="E-mail"
      p-error-pattern="E-mail inválido"
      p-placeholder="E-mail do Titular"
    >
    </po-email>
    <po-input
      formControlName="telefoneTitular"
      class="po-lg-3"
      p-mask="(99) 99999?-9999"
      p-label="Telefone Titular"
      p-pattern="\d{10,11}"
      p-error-pattern="Telefone Inválido"
      p-placeholder="Número do Telefone do Titular"
      p-icon="po-icon-telephone"
    ></po-input>
    <po-input
      formControlName="telefoneContato"
      p-mask="(99) 99999?-9999"
      p-pattern="\d{10,11}"
      p-error-pattern="Telefone Inválido"
      class="po-lg-3"
      p-label="Telefone Contato"
      p-placeholder="Número do Telefone do Contato"
      p-icon="po-icon-telephone"
    ></po-input>
    <!-- <po-input
        formControlName="rendaTotal"
        class="po-lg-3"
        p-label="Renda Total"
        p-disabled="true"
        p-placeholder="R$4.451,33"
        p-clean
      >
      </po-input> -->
  </div>

  <po-divider p-label="Informações Sobre Moradia"></po-divider>
  <div class="po-row">
    <po-select
      formControlName="familiaIncProcHabit"
      class="po-lg-3"
      p-label="Família Incluída no Programa Habitacional"
      [p-options]="boleanoOpcoes"
      p-placeholder="Sim ou não?"
    >
    </po-select>
    <po-select
      formControlName="quantidadeFamilia"
      class="po-lg-3"
      p-label="Familia por Domícíio"
      [p-options]="familiaDomicilioOpcoes"
      p-placeholder="Quantas Famílias existem no Domicílio"
    >
    </po-select>
    <po-select
      formControlName="tempoMoradiaBairro"
      class="po-lg-3"
      p-label="Tempo de Moradia no Bairro"
      [p-options]="tempoDeMoradiaOpcoes"
      p-placeholder="Tempo de Moradia no Bairro Atual"
    >
    </po-select>
    <po-select
      formControlName="tempoMoradiaLouveira"
      class="po-lg-3"
      p-label="Tempo de Moradia em Louveira"
      [p-options]="tempoDeMoradiaOpcoes"
      p-placeholder="Tempo de Moradia em Louveira/SP"
    >
    </po-select>
  </div>
  <div class="po-row">
    <po-select
      formControlName="possuiImovel"
      class="po-lg-3"
      p-label="Possui algum imóvel em seu nome"
      (p-change)="possuiImovelSelecionado($event)"
      [p-options]="boleanoOpcoes"
      p-placeholder="Possui algum imóvel no país?"
    >
    </po-select>
    <po-input
      formControlName="qualLocalDoImovel"
      class="po-lg-9"
      p-label="Onde"
      [p-disabled]="converterBooleanString(!localDoImovelAtivo)"
      [p-required]="converterBooleanString(localDoImovelAtivo)"
      p-placeholder="Local do Imóvel"
      p-clean
    >
    </po-input>
  </div>
  <div class="po-row">
    <po-select
      formControlName="programaHabitacional"
      class="po-lg-3"
      p-label="Já foi Contemplado em Algum Programa Habitacional?"
      (p-change)="jaContempladoSelecionado($event)"
      [p-options]="boleanoOpcoes"
      p-placeholder="Já foi contemplado em algum programa?"
    >
    </po-select>
    <po-input
      formControlName="qualProgHabitacional"
      [p-disabled]="converterBooleanString(!programaContempladoAtivo)"
      [p-required]="converterBooleanString(programaContempladoAtivo)"
      class="po-lg-9"
      p-label="Qual?"
      p-placeholder="Qual programa você já foi beneficiado?"
      p-clean
    >
    </po-input>
  </div>
  <div class="po-row">
    <po-select
      formControlName="regFundOuUsocapiao"
      (p-change)="jaContempladoPaisSelecionado($event)"
      class="po-lg-6"
      p-label="Já foi beneficiário(a) em Programa de Regularização Fundiária ou Ação de Usucapião em qualquer lugar do país?"
      [p-options]="boleanoOpcoes"
      p-placeholder="Já foi contemplado em algum programa no país?"
    >
    </po-select>
    <po-input
      formControlName="qualRegFundOuUsocapiao"
      class="po-lg-3"
      [p-disabled]="converterBooleanString(!programaContempladoPaisAtivo)"
      [p-required]="converterBooleanString(programaContempladoPaisAtivo)"
      p-label="Qual?"
      p-placeholder="Qual programa você já foi beneficiado?"
      p-clean
    >
    </po-input>
    <po-input
      formControlName="aondeRegFundOuUsocapiao"
      class="po-lg-3"
      [p-disabled]="converterBooleanString(!programaContempladoPaisAtivo)"
      [p-required]="converterBooleanString(programaContempladoPaisAtivo)"
      p-label="Onde?"
      p-placeholder="Onde fica o ímóvel que você já foi beneficiado?"
      p-clean
    >
    </po-input>
  </div>
</form>

<!-- ALTERAÇÃO DE TABELA DE RENDA -->
<!-- <po-divider p-label="Rendas"></po-divider>

    <po-table
      [p-columns]="colunasRenda"
      [p-items]="listaRendas"
      [p-actions]="acoes"
      [p-height]="200"
      [p-infinite-scroll]="true"
    ></po-table>

    <po-divider></po-divider>
    <div class="po-row">
      <po-info
        class="po-md-6 po-mb-sm-2 po-mb-md-2 po-lb-lg-2"
        p-label="Total da Renda"
        p-label="Total Value"
        p-value="{{ 1000 | currency: 'BRL' }}"
      >
      </po-info>

      <po-button
        class="po-sm-12 po-lg-2 po-xl-2 po-offset-lg-4 po-offset-xl-4"
        p-label="Adicionar Renda"
        p-icon="po-icon-plus"
        (p-click)="adicionaRenda()"
      >
      </po-button>
    </div>
  </div>
</form>
<po-modal [p-primary-action]="confirmar" p-title="Renda">
  <app-rendas
    *ngIf="modalAberto"
    (atualizaRenda)="atualizaRenda()"
    [tipoRenda]="tipoRenda"
    [valorRenda]="valorRenda"
  >
  </app-rendas>
</po-modal> -->
<!-- <div>
  <div *ngIf="isDependente">
    <po-divider p-label="Parentesco"></po-divider>
    <div class="po-row">
      <po-select
        class="po-lg-12"
        [p-clean]="true"
        p-label="Grau de Parentesco"
        [p-options]="parentescoOpcoes"
        p-placeholder="Selecione o Grau de Parentesco"
      >
      </po-select>
    </div>
  </div>
  <div>
    <po-divider p-label="Informações Gerais"></po-divider>
    <div class="po-row">
      <po-input
        class="po-lg-6"
        p-label="Nome"
        p-placeholder="João da Silva"
        p-clean
      >
      </po-input>
      <po-input
        class="po-lg-6"
        p-label="Nome Social"
        p-placeholder="João da Silva"
        p-clean
      ></po-input>
    </div>

    <div class="po-row">
      <po-input
        class="po-lg-4"
        p-label="CPF"
        p-placeholder="999.999.999-99"
        p-mask="999.999.999-99"
        p-clean
      >
      </po-input>
      <po-input
        class="po-lg-4"
        p-label="RG"
        p-placeholder="99.999.999-1"
        p-clean
      >
      </po-input>
      <po-input class="po-lg-4" p-label="UR RG" p-placeholder="SSP" p-clean>
      </po-input>
    </div>

    <div class="po-row">
      <po-select
        class="po-lg-3"
        [p-clean]="true"
        p-label="Estado Civil"
        [p-options]="estadoCivilOpcoes"
        p-placeholder="Selecione o estado civil"
      >
      </po-select>
      <po-datepicker
        class="po-lg-3"
        p-label="Data de Nascimento"
        p-placeholder="dd/mm/aaaa"
        p-clean
      >
      </po-datepicker>
      <po-select
        class="po-lg-3"
        [p-clean]="true"
        p-label="Gênero"
        [p-options]="generoOpcoes"
        p-placeholder="Selecione o Gênero"
      >
      </po-select>
      <po-input
        class="po-lg-3"
        p-label="Naturalidade"
        p-placeholder="Louveira - SP"
        p-clean
      >
      </po-input>
    </div>
  </div>

  <div>
    <po-divider p-label="Contato"></po-divider>
    <div class="po-row">
      <po-input
        class="po-lg-4"
        p-label="Telefone"
        p-placeholder="(19) 9999-9999"
        p-mask="(99) 9999-9999"
        p-clean
      ></po-input>
      <po-input
        class="po-lg-4"
        p-label="Celular"
        p-placeholder="(19) 99999-9999"
        p-mask="(99) 99999-9999"
        p-clean
      ></po-input>

      <po-input
        class="po-lg-4"
        p-label="WhatsApp"
        p-placeholder="(19) 99999-9999"
        p-mask="(99) 99999-9999"
        p-clean
      ></po-input>
    </div>

    <div class="po-row">
      <po-email
        class="po-lg-6"
        p-label="Email"
        p-placeholder="seu@email.com.br"
        p-clean
      >
      </po-email>
    </div>
  </div>

  <div>
    <po-divider p-label="Dados Complementares"></po-divider>
    <div class="po-row">
      <po-radio-group
        class="po-md-3"
        p-label="Possui alguma necessidade Especial?"
        [p-options]="especialOpcoes"
      >
      </po-radio-group>

      <po-input
        class="po-lg-9"
        p-label="Qual?"
        p-placeholder="Informe a necessidade especial"
        p-clean
      ></po-input>
    </div>

    <div class="po-row">
      <po-decimal
        class="po-lg-3"
        p-label="Renda Bruta"
        p-placeholder="1100,00"
        p-clean
      >
      </po-decimal>
    </div>
  </div>
</div> -->
